.streaming-links,
.watch-now,
.btn-watch-now,
a.btn.btn-block.btn-summary.btn-watch-now.visible-xs.selected {
    display: none!important;
}
.btn-collect,
.btn-list {
    margin-top: 3px!important;
}

.aw-modal {
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.aw-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 85%;
    max-width: 800px;
    height: fit-content;
    max-height: 75%;
}

.aw-header {
    color: #fff;
    font-family: proxima nova;
    border: solid black 1px;
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    padding-bottom: 2em;
}

.aw-footer {
    height: 0;
    background-color: black;
    margin-top: -2px;
}

.aw-modal::-webkit-scrollbar,
.aw-content::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.aw-header, .aw-footer,
.aw-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .3s ease;
    opacity: 0;
    overflow: hidden;
}

#aw-sources,
#aw-search-options,
.aw-select,
#aw-search-string {
    overflow: hidden;
    overflow-y: overlay;
    overscroll-behavior: contain;
}

#aw-search-string {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 100%;
    text-align: center;
    background-color: rgb(0 0 0 / 75%);
    font-size: 16px;
    border-bottom: solid black 1px;
}

#aw-search-options {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#aw-sources {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    max-height: 100%;
    align-content: flex-start;
    justify-content: center;
}

.aw-search-option {
    display: flex;
    flex-flow: row wrap;
    font-size: 13px;
    width: 10em;
    margin: 5px 10px;
}

.aw-label {
    text-align: center;
    font-weight: 100;
    width: 100%;
    background-color: rgb(0 0 0 / 75%);
    border: solid black 1px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.aw-select {
    width: 100%;
    height: 7em;
    background-color: rgb(0 0 0 / 60%);
    border: solid black 1px;
}

.aw-option {
    padding-left: 3px;
    border: solid black 1px;
}

.aw-selected {
    background-color: #280202;
    color: white;
}

.aw-option:not(.aw-selected):hover {
    background-color: #4c1313;
    color: white;
}

.aw-sources-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 5em;
    margin: 10px;
    color: #fff;
    font-family: proxima nova semibold;
    font-size: 13px;
    border: solid #ffffff 1px;
    border-radius: 5px;
    background-image: linear-gradient(to top, black, rgb(70 2 2 / 58%));
}

.aw-sources-item:hover {
    color: #000000;
    background-image: linear-gradient(360deg, #ff1e1ecc, #650d0d73);
    border: solid black 1px;
}

#alternative-watch {
    display: inline-block;
    position: relative;
    transition: all .5s;
    color: #9e3131;
}

#alternative-watch:hover {
    color: white;
    background-color: #9e3131!important;
    text-decoration: none!important;
}

.main-aw-button {
    margin-top: 3px;
    height: 54px;
    width: 100%;
    border: solid 1px #9e3131;
    font-size: 3.4em;
    line-height: 1.428571429;
    background-color: inherit;
    z-index: 1041;
}

.schedule-aw-button {
    border-radius: 2px;
    font-size: 0.7em;
    position: relative;
    top: 5px;
    background-color: #1515158c;
    margin-bottom: 5px;
}

.quick-aw-button > .trakt-icon-play2-thick {
    font-size: 1.5em;
    text-align: start;
}

.schedule-aw-button > .trakt-icon-play2-thick {
    font-size: 2em;
}

.main-aw-button > .trakt-icon-play2 {
    padding-top: 2.4px;
    vertical-align: top;
    margin-left: -1px;
}

.main-aw-button .aw-text {
    display: inherit;
    text-transform: uppercase;
    color: inherit;
    font-size: 0.355em;
    position: absolute;
    padding-top: 15px;
    padding-left: 2px;
    font-family: 'proxima nova semibold';
}

.schedule-aw-button .aw-text {
    display: inherit;
    text-transform: uppercase;
    color: white;
    padding-right: 7px;
    font-family: 'proxima nova semibold';
    padding-top: 2px;
    vertical-align: middle;
}

.schedule-episode.same-show {
    padding-top: 10px!important;
}

#alternative-watch,
.aw-source-name,
.aw-label,
.aw-select,
.aw-content {
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

.aw-loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 65px;
    height: 65px;
  }
.aw-loading div {
    box-sizing: border-box;
    position: absolute;
    width: 64px;
    height: 64px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: aw-loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.aw-loading div:nth-child(1) {
    animation-delay: -0.45s;
}
.aw-loading div:nth-child(2) {
    animation-delay: -0.3s;
}
.aw-loading div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes aw-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.aw-content *:focus-visible {
    outline: 0;
}

.aw-content *::-webkit-scrollbar {
    width: 5px;
}

.aw-content *::-webkit-scrollbar-track {
    background: transparent;
}

.aw-content *::-webkit-scrollbar-thumb {
    background: #888;
}

.aw-content *::-webkit-scrollbar-thumb:hover {
    background: #555;
}
