.streaming-links,
.watch-now,
.btn-watch-now,
a.btn.btn-block.btn-summary.btn-watch-now.visible-xs.selected {
    display: none!important;
}
.btn-collect,
.btn-list {
    margin-top: 3px!important;
}

.aw-modal {
    position: fixed;
    z-index: 100000;
    left: 0!important;
    top: 0!important;
    width: 100%!important;
    background-color: rgba(0,0,0,0.4);
}

.aw-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    width: 350px;
    border-radius: 10px;
    max-height: 85%;
}

.aw-modal, .aw-content,
.aw-header, .aw-footer {
    overflow: hidden;
    visibility: hidden;
    transition: opacity 1s ease;
    height: 0;
    opacity: 0;
}

.aw-header {
    border-radius: 10px 10px 0 0;
}

.aw-footer {
    overflow: auto;
    overflow-y: overlay;
    overscroll-behavior: contain;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: 0 0 10px 10px;
}

.aw-footer::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.aw-header, .aw-footer {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#watch-search {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 10px 15px 5px;
    font-size: 16px;
    font-family: proxima nova;
    text-align: left;
    background-image: linear-gradient(to right, #000000, rgb(40 14 14 / 35%));
}

#aw-sources {
    background-color: rgb(0 0 0 / 85%);
    padding: 5px;
}

.watch-search-option {
    display: table;
    font-size: 13px;
    height: 30px;
    width: 100%
}

.watch-search-option label {
    padding-top: 2px;
    padding-left: 2px;
    font-weight: 100;
}

.watch-search-option select {
    float: right;
    margin-left: 5px;
    width: 60%;
    background-color: #000000b3;
    border-radius: 2px;
    border: solid #232020 1px;
    color: #fff;
}

.wt-title {
    margin-inline: 4%;
    font-family: proxima nova semibold;
    margin-block: 10px;
    text-align: center;
    overflow: hidden;
}

.wt-title-button {
    color: #fff;
    padding-block: 5px;
    text-align: center;
    font-family: proxima nova semibold;
    font-size: 15px;
    border: solid #000000 1px;
    border-radius: 10px;
    background-image: linear-gradient(360deg, rgb(27 4 4 / 75%), rgb(88 13 13 / 75%));
    margin-block: 3px;
}

.wt-title-button:hover {
    color: #000000;
    background-image: linear-gradient(360deg, #ff1e1ecc, #650d0d73);
}

.aw-sources-item {
    padding-block: 15px;
    margin-block: 5px;
}

#alternative-watch {
    display: inline-block;
    position: relative;
    transition: all .5s;
    color: #9e3131;
}

#alternative-watch:hover {
    color: white;
    background-color: #9e3131!important;
    text-decoration: none!important;
}

.main-aw-button {
    margin-top: 3px;
    height: 54px;
    width: 100%;
    border: solid 1px #9e3131;
    font-size: 3.4em;
    line-height: 1.428571429;
    background-color: inherit;
    z-index: 1041;
}

.schedule-aw-button {
    border-radius: 2px;
    font-size: 0.7em;
    position: relative;
    top: 5px;
    background-color: #1515158c;
    margin-bottom: 5px;
}

.quick-aw-button > .trakt-icon-play2-thick {
    font-size: 1.5em;
    text-align: start;
}

.schedule-aw-button > .trakt-icon-play2-thick {
    font-size: 2em;
}

.main-aw-button > .trakt-icon-play2 {
    padding-top: 2.4px;
    vertical-align: top;
    margin-left: -1px;
}

.main-aw-button .wt-text {
    display: inherit;
    text-transform: uppercase;
    color: inherit;
    font-size: 0.355em;
    position: absolute;
    padding-top: 15px;
    padding-left: 2px;
    font-family: 'proxima nova semibold';
}

.schedule-aw-button .wt-text {
    display: inherit;
    text-transform: uppercase;
    color: white;
    padding-right: 7px;
    font-family: 'proxima nova semibold';
    padding-top: 2px;
    vertical-align: middle;
}

.schedule-episode.same-show {
    padding-top: 10px!important;
}

#alternative-watch,
.wt-title-button,
.alternative-watch-close,
.watch-search-option label,
.watch-search-option select {
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

.aw-loading {
    align-self: center;
    margin-top: 50%;
    width: 80px;
    height: 80px;
  }
  .aw-loading div {
    box-sizing: border-box;
    position: absolute;
    width: 64px;
    height: 64px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: aw-loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .aw-loading div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .aw-loading div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .aw-loading div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes aw-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }  