div[class^="aw-"] {
  transform-origin: top;
  transition: .3s;
}

.aw-search-string, .aw-button, div[class^="aw-"]:focus-visible {
  border: 0;
  outline: 0;
}

.aw-modal {
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
}

.aw-block {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  max-width: 400px;
  max-height: 80%;
  color: white;
  background-color: #1D1D1D;
  border: 1px solid black;
  border-radius: 3px;
  font-family: proxima nova;
}

.aw-type {
  display: grid;
  gap: 2px;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid black;
}

.aw-content {
  max-height: 100%;
}

.aw-header {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.aw-footer {
  display: grid;
  background: #161616;
}

.aw-button {
  background-color: #b110109e;
  transition: .5s;
}

.aw-button:hover, .aw-button:focus, .aw-button:focus-visible, .aw-button-selected {
  background-color: #9e3131!important;
}

.aw-content, .aw-select {
  overflow: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.aw-search-string {
  background-color: #333;
  text-align: center;
  font-size: 16px;
  white-space: nowrap;
  border-radius: 3px;
  padding-inline: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.aw-search-options {
  display: grid;
  align-items: center;
  row-gap: 10px;
  grid-template-columns: 80px 1fr;
}

.aw-search-option {
  display: grid;
  line-height: 28px;
  font-size: 14px;
}

.aw-search-option:focus-visible > .aw-title {
  background-color: #161616;
}

.aw-label {
  align-self: baseline;
  margin-top: 3px;
}

.aw-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #333;
  border-radius: 3px;
  padding-inline: 7px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  height: 28px;
}

.aw-title > span:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

.aw-select {
  display: grid;
  padding: 5px;
  max-height: 130px;
  background: #333;
  border-radius: 0 0 3px 3px;
}

.aw-option {
  margin-top: 2px;
  padding-inline: 7px;
  cursor: pointer;
  background: #161616;
  border-radius: 3px;
}

.aw-option:hover, .aw-option:focus-visible {
  background: #6c6c6c;
}

.aw-sources {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.aw-link {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 13px;
  border: 1px solid black;
  border-radius: 3px;
}

.alternative-watch {
  display: flex;
  gap: 10px;
  position: absolute;
  align-items: center;
  justify-content: center;
  transition: .5s;
  color: white;
  padding-inline: 10px;
  box-shadow: 0 0 10px black;
  border-radius: 3px 0 0 0;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 40px;
  max-height: 30%;
  max-width: 40%;
  font-size: 1.7em;
  opacity: .8;
}

.alternative-watch-action {
  top: 0;
  height: 30px;
  width: 100%;
  max-width: 100%;
  border-radius: 0;
  border-bottom: 1px solid black;
}

.alternative-watch-action-mobile {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  border-radius: 0;
  opacity: 0.7;
}

.alternative-watch-schedule {
  border-radius: 3px;
  position: initial;
  margin-bottom: 5px;
  height: 18px;
  width: fit-content;
  max-width: 100%;
  padding-inline: 1px 5px;
  font-size: 1.2em;
  padding-top: 2px;
}

.alternative-watch-action::after, .alternative-watch-schedule::after {
  content: 'Watch Now';
  font-size: 13px;
  font-weight: bold;
  padding-top: 2px;
}

.aw-hidden {
  transform: scaleY(0)!important;
  max-height: 0!important;
  opacity: 0!important;
  visibility: hidden!important;
  border: 0!important;
  outline: 0!important;
  margin: 0!important;
  padding: 0!important;
}

.aw-unselectable {
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}
